/* fonts */
@import url("https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css");
.nexon {
  font-family: "NexonLv1Gothic";
  font-weight: 300;
}

/* common */
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px; /* 1160 + 20 = 1200 */
}

.section {
  padding: 120px 0;
}
.section > h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
}
.section > p {
  margin-bottom: 70px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

/* headerType */
.header__inner {
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border: 1px solid #ccc;
}

.header__logo {
  width: 20%;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.header__logo em {
  font-size: 18px;
  font-weight: 400;
}
.header__menu {
  text-align: center;
  width: 60%;
}
.header__menu ul li {
  display: inline;
}
.header__menu ul li a {
  margin: 0 5px;
  padding: 10px 30px;
}
.header__menu ul li a:hover {
  border-radius: 5px;
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}
.header__member {
  text-align: right;
  width: 20%;
}
.header__member a {
  padding: 10px 30px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 20px;
}

/* sliderType */
.slider {
  position: relative;
}
.slider__img {
  background: url(../img/slide_bg01.jpg) no-repeat center center/cover;
}
.slider__img .desc {
  margin: 0 auto;
  padding: 100px 20px;
  width: 1160px;
}
.slider__img .desc span {
  display: inline-block;
  margin-bottom: 10px;
  padding: 1px 14px 0px 14px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 30px;
}
.slider__img .desc h3 {
  margin-bottom: 20px;
  margin-left: -8px;
  line-height: 1;
  font-size: 100px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
.slider__img .desc p {
  margin-bottom: 137px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
}
.slider__img .desc .btn a {
  display: inline-block;
  padding: 11px 50px;
  font-size: 16px;
  font-weight: 300;
  background: #fff;
}
.slider__img .desc .btn a.black {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}
.slider__arrow a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 56px;
  background: url(../img/silde_icon.svg);
}
.slider__arrow a.left {
  left: 20px;
}
.slider__arrow a.right {
  right: 20px;
  background-position: -40px 0;
}
.slider__dot {
  position: absolute;
  right: 20%;
  bottom: 90px;
}
.slider__dot a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/silde_icon.svg);
  background-position: -20px -70px;
}
.slider__dot a.active {
  background-position: 0 -70px;
}
.slider__dot a.play {
  background-position: -40px -70px;
}
.slider__dot a.stop {
  background-position: -60px -70px;
}

/* imageType */
.image__inner {
  display: flex;
  justify-content: space-between;
}
.image__inner .image {
  box-sizing: border-box;
  padding: 180px 30px 30px 30px;
  width: 49%;
  height: 370px;
  background: rgba(0, 0, 0, 0.1333333333);
}
.image__inner .image.img1 {
  background: url(../img/image_bg01.jpg) no-repeat center/cover;
}
.image__inner .image.img2 {
  background: url(../img/image_bg02.jpg) no-repeat center/cover;
}
.image__inner .image .image__title {
  margin-bottom: 14px;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
}
.image__inner .image .image__desc {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.image__inner .image .image__btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

/* imgTextType */
.imgText__wrap {
  background: #f1f1f1;
}

.imgText__inner {
  display: flex;
  justify-content: space-between;
}
.imgText__inner .imgText__txt {
  width: 32%;
  height: 500px;
}
.imgText__inner .imgText__txt .index {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.imgText__inner .imgText__txt .title {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 1.3;
  text-transform: uppercase;
}
.imgText__inner .imgText__txt .desc {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  word-break: keep-all;
}
.imgText__inner .imgText__txt .list {
  font-size: 16px;
  line-height: 1.5;
}
.imgText__inner .imgText__txt .list li {
  position: relative;
  padding-left: 16px;
}
.imgText__inner .imgText__txt .list li a {
  color: #666;
}
.imgText__inner .imgText__txt .list li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #666;
}
.imgText__inner .imgText__img {
  position: relative;
  width: 32%;
  height: 500px;
}
.imgText__inner .imgText__img a {
  position: absolute;
  padding: 10px 30px;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  border-radius: 30px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.imgText__inner .imgText__img.img1 {
  border-radius: 10px;
  background: url(../img/imgText_bg01.jpg) no-repeat center/cover;
}
.imgText__inner .imgText__img.img2 {
  border-radius: 10px;
  background: url(../img/imgText_bg02.jpg) no-repeat center/cover;
}

/* cardType */
.card__inner {
  display: flex;
  justify-content: space-between;
}
.card__inner .card {
  width: 32%;
  background: #f1f1f1;
}
.card__inner .card .card__header img {
  width: 100%;
}
.card__inner .card .card__body {
  padding: 26px 30px;
}
.card__inner .card .card__body .tit {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 22px;
}
.card__inner .card .card__body .desc {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}
.card__inner .card .card__body .btn {
  font-size: 16px;
  color: #888;
}

/* bannerType */
.banner__inner {
  background: url(../img/banner_bg01.jpg) no-repeat center/cover;
}
.banner__inner .tit {
  text-align: center;
  color: #fff;
}
.banner__inner .desc {
  text-align: center;
  color: #fff;
}
.banner__inner .index {
  display: block;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

/* textType */
.text__wrap .index {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.text__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.text__inner .text {
  box-sizing: border-box;
  margin-bottom: 2%;
  padding: 20px;
  width: 32%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  background: #fff;
}
.text__inner .text:hover {
  background: #f3f3f3;
}
.text__inner .text:hover .icon {
  background-position-y: -60px;
}
.text__inner .text .icon {
  display: block;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: url(../img/text_icon.jpg);
}
.text__inner .text .title {
  margin-bottom: 12px;
  text-transform: uppercase;
}
.text__inner .text .desc {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}
.text__inner .text .btn {
  font-size: 16px;
  color: #888;
}
.text__inner .text:nth-child(1) .icon {
  background-position-x: 0px;
}
.text__inner .text:nth-child(2) .icon {
  background-position-x: -60px;
}
.text__inner .text:nth-child(3) .icon {
  background-position-x: -120px;
}
.text__inner .text:nth-child(4) .icon {
  background-position-x: -180px;
}
.text__inner .text:nth-child(5) .icon {
  background-position-x: -240px;
}
.text__inner .text:nth-child(6) .icon {
  background-position-x: -300px;
}

/* footerType */
.footer__wrap {
  background: #f1f1f1;
}

.footer__inner .footer__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.footer__inner .footer__menu .menu {
  width: 15%;
}
.footer__inner .footer__menu .menu .title {
  margin-bottom: 20px;
  font-size: 18px;
}
.footer__inner .footer__menu .menu .list {
  color: #666;
}
.footer__inner .footer__menu .menu .list li {
  font-size: 14px;
  line-height: 24px;
}
.footer__inner .footer__right {
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  border-top: 1px solid #d9d9d9;
}

/*# sourceMappingURL=style.css.map */
